form.magic_form {
    float: left;
    display: block;
    width: 100%;
}

form.magic_form .form_row,
form.magic_form .form_group {
    float: left;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form.magic_form .form_row {

}

form.magic_form .form_row.form_hidden {
    display: none;
}

form.magic_form .form_row .widget {
    float: left;
    display: block;
}

form.magic_form .form_group {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 1% 1% 1% 1%;
    width: 97.5%;
}

form.magic_form .form_group .group-inside {
    float: left;
    display: block;
    width: 100%;
    overflow: hidden;
    margin-top: 7px;
}

form.magic_form .radio_group {
    float: left;
    display: block;
    width: 100%;
}

form.magic_form .radio_group .radio_group_option {
    float: left;
    display: block;
    width: 100%;
}

form.magic_form .radio_group .radio_group_option label {
    float: left;
    display: block;
}

form.magic_form .radio_group .radio_group_option input {
    float: left;
    display: block;
}

form.magic_form .clear {
    clear: both;
}

form.magic_form input.changed,
form.magic_form select.changed,
form.magic_form textarea.changed {
    /* border: 1px solid red; */
}

form.magic_form input.error,
form.magic_form select.error,
form.magic_form textarea.error {
    border: 1px solid red;
}