form.magic_form {
    float: left;
    display: block;
    width: 100%;
}

form.magic_form .form_row,
form.magic_form .form_group {
    float: left;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form.magic_form .form_row {

}

form.magic_form .form_group {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

form.magic_form .radio_group {
    float: left;
    display: block;
    width: 100%;
}

form.magic_form .radio_group .radio_group_option {
    float: left;
    display: block;
    width: 100%;
}

form.magic_form .radio_group .radio_group_option label {
    float: left;
    display: block;
}

form.magic_form .radio_group .radio_group_option input {
    float: left;
    display: block;
}

form.magic_form .clear{
    clear: both;
}